.main-class{
    height: 100vh;
    background-color: aqua;
    background-image: url('../3.jpg');
    background-position: center center;
    background-size: cover;
}
body{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}